body {
/* Specifiserar font, bakgrundsbild och storlek på bilden. */
    font-family:"David Libre", serif;
    background-size:cover;
    background-image:url("../img/tower_bridge.jpg");
}

.meny {
  font-family:"David Libre", serif;
  float:right;
}

.meny {
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:transparent;
}

.meny li {
  float:left;
  border-width:10px;
  padding:10px;
}

/* Menyns länkar som går att klicka på. Specifiserar bland annat position,
 dekoration, och padding. */
.meny a {
  display:block;
  list-style-type:none;
  text-align:center;
  clear:left;
  text-decoration:none;
  padding:5px 15px;
  color:#001d4b;
  border-style:groove;
  border-width:10px;
  border-color:#fabf65;
  background-color:white;
  font-weight:bold;
  box-shadow: 3px 3px 4px black;
}

/* Funktionen som gör att länkarna förändras när man håller musen över. */
.meny a:hover {
  font-weight:bold;
  color:white;
  box-shadow: 6px 6px 8px black;
  background-image:url("../img/london_sky.jpg");

}

/* Klassen som används för alla rubriker. Innehåller border, bakgrund, färger och skuggor. */
.title {
  color:white;
  border-style:groove;
  display:block;
  padding:20px;
  text-align:center;
  border-color:silver;
  border-width:5px;
  text-shadow: 5px 5px 3px black;
  box-shadow: 5px 5px 3px black;
  margin-top:10px;
  background-image:url("../img/london_sky.jpg");
  background-size:contain;
}

/* Klassen som används för annan text, paragraftexten bland annat. Specifiserar border,
bakgrundsfärg, textfärg, textstorlek och padding. */
.text{
  color:white;
  font-size:20px;
  margin:10px;
  border-style:groove;
  border-color:#fabf65;
  display:block;
  border-width:5px;
  padding:10px;
  opacity:80%;
  background-color:black;
  list-style-type:none;
}
/* Trailern borders, skuggor och position. */
#trailer {
  float:right;
  border-color:#fabf65;
  border-width:10px;
  border-style:groove;
  box-shadow:7px 7px 5px black;
  clear:right;
  margin-bottom:10px;
}
/* Specifiserar "h3" färg och position. */
h3 {
  text-align:left;
  display:block;
  color:white;
}
/* Specifiserar "h2" färg och position. */
h2 {
  color:white;
  display:block;
  clear:right;
  text-align:left;
}
/* Css-kod som hör till dropdown-menyn som inte gjorts färdigt.
.dropdown {
  position:relative;
  display:inline-block;
}
.dropdowncontent {
  display:none;
  position:absolute;
  background-color:red;
  min-width: 160px;
}
.dropdowncontent a {
  color:black;
  padding:12px 16px;
  text-decoration:none;
  display:block;
}
.dropdownbutton hover{
  display:contents;
}
*/
